@page
@model IndexModel
@{
    ViewData["Title"] = "Tenants";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var organization in Model.Organizations)
        {
            <tr>
                <td>@organization.Name</td>
                <td>
                    <a class="btn btn-outline-secondary">
                        Edit
                    </a>
                    <a class="btn btn-outline-info">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>